*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    margin: auto;
    width: 75%;
}

.d-flex{
    display: flex;
}


/* HEADER */

.header-container img{
    width: 93px;
    height: 72px;
    margin-bottom: 6rem;
    margin-top: 4rem;
}



/* MAIN */

main{
    font-family: 'Poppins', sans-serif;
}

.main-container{
    justify-content: space-between;
    
}

.text-container{
padding-top: 20px;
}

.name, .country{
    color: #3A3A3A;
    font-size: 36px;
    font-weight: 400;
    line-height: 132%;
    letter-spacing: -0.72px;
}

.country{
    color: #000;
    margin-top: 20px;
}

.track{
    color: #FF408C;
    font-size: 60px;
    font-weight: 700;
    line-height: 132%;
    letter-spacing: -1.6px;
}

.contact-info{
    color: #3A3A3A;
    font-size: 16px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0.32px;
    margin-top: 50px;
    margin-bottom: 30px;
}

.tools{
    color: #3A3A3A;
    font-size: 20px;
    font-weight: 500;
    line-height: 132%;
    letter-spacing: -0.4px;
    margin-bottom: 12px;
}

.tech-tools_img img{
    width: 50px;
    height: 50px;
    margin-right: 15px;
}

.image-container{
    position: relative;
}

.profile-picture img, .picture-bg img{
    width: 487px;
    height: 710px;
}

.profile-picture{
    position: absolute;
    right: 20px;
    top: -20px;
}

.vector-img{
    position: absolute;
    right: -3.3rem;
    top: 37.5rem;
    z-index: -2;
}

/* FOOTER */

footer{
    margin-top: 10rem;
    margin-bottom: 3rem;
}

.footer-container{
    margin: auto;
    width: 20%;
    --dark: #21243D;
}

.footer-img_container{
    justify-content: space-between;
    margin-bottom: 15px;
}

.copyright{
    color: var(--dark);
    text-align: center;
    font-size: 13.8px;
    font-family: Inter;
    font-weight: 400;
}


/* FOR SMALLER SCREENS */

@media screen and (max-width: 1480px)  {
    .container{
        width: 90%;
    }    
}

@media screen and (max-width: 1280px)  {
    .container{
        width: 80%;
    }

    .text-container{
        padding-top: 50px;
    }

    .name, .country{
        font-size: 25px;
    }
    
    .track{
        font-size: 52px;
    }
    
    .contact-info{
        font-size: 13px;
    }
    
    .profile-picture img, .picture-bg img{
        width: 350px;
        height: 610px;
    }

    .profile-picture{
        right: 20px;
        top: -20px;
    }

    .vector-img img{
        width: 150px;
        height: 100px;
    }

    .vector-img{
        right: -3.6rem;
        top: 31.1rem;
    }

    
}


@media screen and (max-width: 1150px) {
    .container{
        width: 90%;
    }

    .name, .country{
        font-size: 20px;
    }
    
    .track{
        font-size: 47px;
    }
    
    .contact-info{
        font-size: 12px;
    }
}

@media screen and (max-width: 960px) {
   
    .name, .country{
        font-size: 22px;
    }
    
    .track{
        font-size: 43px;
    }
    
    .profile-picture img, .picture-bg img{
        width: 300px;
        height: 560px;
    }

    .vector-img{
        right: -3.6rem;
        top: 27.2rem;
    }

    .copyright{
        font-size: 9.5px;
    }

    .footer-img_container img{
        width: 20px;
        height: 20px;
    }
}

@media screen and (max-width: 860px){

    .container{
        width: 100%;
    }

    .header-container{
        margin: auto;
        width: 83%;  
    }

    .header-container img{
        width: 60px;
        margin-bottom: 2rem;
    }

    .text-container{
        padding-top: 65px;
    }

    .main-container{
        margin-left: 70px;
        margin-right: 70px;
    }

    .name, .country{
        font-size: 19px;
    }
    
    .track{
        font-size: 37px;
    }

    .tools{
        font-size: 17px;
    }

    .tech-tools_img img{
        width: 45px;
        height: 45px;
    }

    .profile-picture img, .picture-bg img{
        width: 280px;
    }

    .vector-img{
        top: 26.3rem;
    }

    footer{
        margin-top: 5rem;
    }
}