*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    margin: auto;
    width: 85%;
}

.d-flex{
    display: flex;
}

main{
    font-family: 'Poppins', sans-serif;
}

/* HEADER */

.header-container img{
    width: 93px;
    height: 72px;
    margin-bottom: 6rem;
    margin-top: 4rem;
}



/* MAIN */

.main-container{
    justify-content: space-between;
}
.profile-picture img, .picture-bg img{
    width: 487px;
    height: 710px;
}

.tech-tools_img img{
    width: 50px;
    height: 50px;
}